<%= form_for @fiscal_year do |f| %>
  <% if @fiscal_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiscal_year.errors.count, "error") %> prohibited this fiscal_year from being saved:</h2>

      <ul>
      <% @fiscal_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fiscal_year %><br />
    <%= f.text_field :fiscal_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>