<h1>FiscalYear#index</h1>
<p>Find me in app/views/fiscal_year/index.html.erb</p>

<table>
	<tr>
		<th>Year</th>
		<th></th>
		<th></th>
	<tr>
	<% @fiscal_years.each do |fiscal_year| %>
	<tr>
		<td><%= fiscal_year.fiscal_year %></td>
		<td><%= link_to "show", fiscal_year_show_path(fiscal_year) %>
		<td><%= link_to "edit", fiscal_year_edit_path(fiscal_year) %>
	</tr>
	<% end %>
</table>

<br>
<%= link_to "New Fiscal Year", fiscal_year_new_path %>

		
		
		
